.Footer{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary);
    width: 100%;
    color: var(--text);
    margin-top: auto;
    height: 6.5rem;
    border-radius: 4px 4px 0px 0px;

}