.MonsterSheet{
    height: 50vh;
    width: 50vh;
    background-image: url("../../public/images/monsters/dndmonsterbackground.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}