$highlightColor: #822000;
.Container{
    display: flex;
}
.MonsterImage{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 5px #979AA4;
}
.MonsterSheet{
    position: relative;
    height: fit-content;
    background-image: url("../../public/images/monsters/dndmonsterbackground.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px #979AA4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50vw;
    font-family: verdana, geneva, sans-serif;
}
.MonsterSheetTopBar{
    position: absolute;
    top:0;
    min-width: 100%;
    min-height: 0.5rem;
    background-image: url("../../public/images/monsters/monsterborder.png");
    border: transparent;
    background-repeat: no-repeat;
    background-size: cover;

}
.MonsterSheetBottomBar{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    min-width: 100%;
    min-height: 0.5rem;
    background-image: url("../../public/images/monsters/monsterborder.png");
}
.MonsterSheetContent{
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-image: url("../../public/images/monsters/texture.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}
.Header{
    h2{
        color: $highlightColor;
        font-size: 1.4em;
        font-weight: 600;
        letter-spacing: 1px;
        
        line-height: 1.1;
    }
    h3{
        font-size: 0.8em;
    }
}
.Seperator{
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    img{
        height: 0.8rem;
    }
}
.Stats{
    .Stat{
        .Label{
            color: #822000;
            font-weight: 680;
            margin-right: 0.2rem;
        }
        .Data{
            color: #822000;
        }
    }
}
.SpellTitle{
    width: 100%;
    font-size: 1.5em;
    color: #822000;
    padding-bottom: 0.3rem;

}
.Attributes{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #822000;
    .AttributeHolder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .AttributeName{
            font-weight: 640;
        }
        .AttributeValue{

        }
    }
}
.Label{
    color: #822000;
    font-weight: 680;
    margin-right: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.SavingThrows{
    .Data{
        padding: 3px;
        margin-right: 5px;
    }
}
.DataSpeed{
    color: #822000;
    font-size: 0.9em;
    display: inline;
    .SpeedItem{
        display: inline;
        margin-right: 9px;
    }
}
.InnerSkills{
    .Data{
        padding: 3px;
        margin-right: 5px;
    } 
}
.Data{
    color: #822000;
    font-size: 0.9em;
}
.LabelSkill{
    color: black;
    font-weight: 600;
    font-style: italic;
    font-size: 1em;
}
.DataSkill{
    display: inline;
    margin-left: 0.3rem;
    font-size: 0.99em;
}
.ActionTitle{
    width: 100%;
    font-size: 1.5em;
    margin-top: 0.9rem;
    border-bottom: solid #822000 1px;
    color: #822000;
    padding-bottom: 0.3rem;
}
@media only screen and (min-width: 1900px) {
    .MonsterSheet{
        width: 70rem;
    }
}
@media only screen and (max-width: 1800px) {
    .Container{
        flex-direction: column-reverse;
        .MonsterImage{
            margin-left: auto;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .MonsterSheet{
        width: 60vw;
        margin-top: 1rem;
    }
    .MonsterImage{
        width: 45vw;
        height: 45vw;

    }
    .MonsterImageContainer{
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 1200px) {
    .MonsterSheet{
        width: 70vw;
    }
}
@media only screen and (max-width: 900px) {
    .MonsterSheet{
        width: 90vw;
    }
    .Attributes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 25px));
        gap: 10px;
        justify-content: center;
    }
    .AttributeHolder{
        box-sizing: border-box;
        text-align: center;
    }
}

