
.Hero{

}
.HeroCharacters{
    width: 100vw;
    height: 40rem;
    background-image: url("../../public/images/basecharacter.png");
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
}