$color-alpha: #b78846;
$highlightColor: #822000;

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
$colors: (
  raise: black, 
);
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}


.Title{
    font-size: 4em;
}

.SmallerBreak{
    border-color: var(--main);
    border: solid 3px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 2rem;
    width: 90%;
}
.TopTexture{
  background-image: url("../../public/images/monsters/texture.png");
  height: 3rem;
  width: 100%;
  position: absolute;
  top:0.5rem;
  border: transparent;
  //background-repeat: no-repeat;
  background-size: contain;


}
.Info{
    width: 60%;
}
.MonsterSheetTopBar{
  position: absolute;
  top:0;
  min-width: 100%;
  min-height: 0.5rem;
  background-image: url("../../public/images/monsters/monsterborder.png");
  border: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.MonsterSheetBottomBar{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  min-width: 100%;
  min-height: 0.5rem;
  background-image: url("../../public/images/monsters/monsterborder.png");
}

.Container{
  position: relative;
    display: flex;
    background-image: url("../../public/images/monsters/dndmonsterbackground.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px #979AA4;
  }
.SpellStats{
    height: fit-content;
    min-height: 20rem;
    font-size: 1.4em;
    display: flex;
    flex-wrap: wrap;
                color: #822000;

    
}
.SpellText{
    height: fit-content;
    padding: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 10rem;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.StatBlock{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    padding-left: 5rem;
}
.StatValue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    border: unset 4px black;
    color: black;
    width: 17rem;
    font-size: 0.7em;
    font-weight: 500;
    text-align: center;
    box-shadow: black 3px 3px 3px 3px;

}
.Seperator{
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 5rem;
  width: 100%;
  img{
      height: 0.8rem;
  }
}

.StatLabel{
    width: 17rem;
    font-weight: 600;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ImgContainer{
    margin-left: auto;
    margin-right: 10rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    img{
        background-color: black;
        height: 25rem;
        width: 25rem;
        border-radius: 15px;
        border:solid black 3px;
        box-shadow: black 3px 3px 3px 3px;

    }
}
.Tags{
    font-size: 1.7em;
    div{
        padding-top: 1rem;
        padding-left: 2rem;
    
        display: flex;
        flex-wrap: wrap;
        label{
            margin-right: 2rem;
        }
    }
}
.Tag{
    border: solid black 2px;
    padding: 0.3rem;
    background-color: whitesmoke;
    border-radius: 15px;
    user-select: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    width: fit-content;
    color: var(--color);
    transition: 0.25s;
    width: 10rem;
    height: fit-content;
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: black;
    }
}
.Tag:hover{
}
.TableRow{
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: blanchedalmond;
    padding: 0.3rem;
    border: 2px solid $color-alpha;
    transform: translate3d(0%, -0%, 0);
    width: 100%;

    &:before, &:after {
        content: "•";
        position: absolute;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: $color-alpha;
        border: 2px solid $color-alpha;
        line-height: 12px;
        top: 5px;
        text-align: center;
      }
        &:before {
          left: 5px;
        }
        &:after {
          right: 5px;
        }
}
.TableRow2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid $color-alpha;
    padding: 1rem;
    &:before, &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-alpha;
      border: 2px solid $color-alpha;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
}
.TagsContainer{
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .Container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .Info{
        justify-content: center;
        width: 100%;
        *{
            justify-content: center;
        }
    }
    .ImgContainer{
        padding: 0;
        margin: 1rem;
    }
    .StatBlock{
        justify-content: center;
        padding: 0.7rem;
    }
    .SmallerBreak{
        width: 100%;
        margin-left: 0px;

    }
    .TagsContainer{
        width: 70%;

    }
    .SpellText{
        padding: 0px;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .Text{
            margin-left: auto;
            margin-right: auto;
        }
    }
  }
  @media only screen and (max-width: 720px) {
    .Tags{
        div{
            flex-direction: column;
        }
        .Tag{
            width: 10rem;
        }
    }
    .TagsContainer{
        flex-direction: column;

    }
}

